@model Projeto.Models.Cronograma
@{
    ViewBag.Title = "Alunos por horario";
}

<h2>Alunos por horario</h2>
<p>Verifica alunos em comum presentes por dia e horário.</p>

<div class="container">

    @using (Html.BeginForm("AlunosHorarioView", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Dia da semana</legend>
            @Html.TextBoxFor(m => m.diaRequest, new { @class = "form-control" })
            <font color="red">@Html.ValidationMessageFor(m => m.diaRequest)</font>
            <br>
            <legend>Horário</legend>
            @Html.TextBoxFor(m => m.horarioRequest, new { @class = "form-control" })
            <font color="red">@Html.ValidationMessageFor(m => m.horarioRequest)</font>
            <br>
            <input type="submit" class="btn btn-info" value="Ver Aluno(s)" />
            <br>
            <br>
        </fieldset>
    }

    
    <div class="table-bordered">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Hora</th>
                    <th>@Model.getDiaRequest()</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="50">@Model.getHorarioRequest():00</td>
                    <td width="50">@Model.pessoasEmHorario(@Model.getDiaRequest(),@Model.getHorarioRequest())</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>