@model Projeto.Models.Cronograma
@{
    ViewBag.Title = "HorarioIndividualView";
}

<h2>Horário Individual</h2>

<div class="container">

    @using (Html.BeginForm("HorarioIndividualView", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.nomePessoaHorario)
        
        <input type="submit" value="Ver Horário" />
    }

    <h2>Horário</h2>
    <div class="table-bordered">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Hora</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Quar</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sab</th>
                    <th>Dom</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 8; i < 19; i++){
                    <tr>
                        <td width="50">@i:00</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("segunda", @i, @Model.getPessoaHorario())</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("terca", @i, @Model.getPessoaHorario())</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("quarta", @i, @Model.getPessoaHorario())</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("quinta", @i, @Model.getPessoaHorario())</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("sexta", @i, @Model.getPessoaHorario())</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("sabado", @i, @Model.getPessoaHorario())</td>
                        <td width="50">@Model.verificaVariasPessoasEmHorario("domingo", @i, @Model.getPessoaHorario())</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

