@model Projeto.Models.Cronograma
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <h2>Horário</h2>
    <div class="table-bordered">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Hora</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Quar</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sab</th>
                    <th>Dom</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 8; i < 19; i++){
                    <tr>
                        <td width="20 ">@i:00</td>
                        <td width="20 ">@Model.pessoasEmHorario("segunda", @i)</td>
                        <td width="20 ">@Model.pessoasEmHorario("terca", @i)</td>
                        <td width="20 ">@Model.pessoasEmHorario("quarta", @i)</td>
                        <td width="20 ">@Model.pessoasEmHorario("quinta", @i)</td>
                        <td width="20 ">@Model.pessoasEmHorario("sexta", @i)</td>
                        <td width="20 ">@Model.pessoasEmHorario("sabado", @i)</td>
                        <td width="20 ">@Model.pessoasEmHorario("domingo", @i)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>