@model Projeto.Models.Cronograma
@{
    ViewBag.Title = "HorarioIndividualView";
}

<h2>Horário Individual</h2>

<div class="container">

    @using (Html.BeginForm("HorarioIndividualView", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.nomePessoaHorario)
        
        <input type="submit" value="Ver Horário" />
    }

    <h2>Horário</h2>
    <div class="table-bordered">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Hora</th>
                    <th>Seg</th>
                    <th>Ter</th>
                    <th>Quar</th>
                    <th>Qui</th>
                    <th>Sex</th>
                    <th>Sab</th>
                    <th>Dom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="50">8:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 8, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 8, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 8, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 8, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 8, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 8, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 8, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">9:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 9, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 9, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 9, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 9, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 9, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 9, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 9, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">10:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 10, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 10, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 10, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 10, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 10, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 10, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 10, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">11:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 11, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 11, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 11, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 11, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 11, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 11, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 11, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">12:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 12, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 12, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 12, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 12, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 12, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 12, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 12, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">13:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 13, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 13, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 13, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 13, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 13, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 13, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 13, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">14:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 14, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 14, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 14, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 14, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 14, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 14, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 14, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">15:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 15, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 15, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 15, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 15, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 15, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 15, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 15, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">16:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 16, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 16, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 16, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 16, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 16, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 16, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 16, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">17:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 17, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 17, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 17, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 17, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 17, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 17, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 17, @Model.getPessoaHorario())</td>
                </tr>
                <tr>
                    <td width="50">18:00</td>
                    <td width="50">@Model.verificaPessoaEmHorario("segunda", 18, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("terca", 18, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quarta", 18, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("quinta", 18, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sexta", 18, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("sabado", 18, @Model.getPessoaHorario())</td>
                    <td width="50">@Model.verificaPessoaEmHorario("domingo", 18, @Model.getPessoaHorario())</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

